body {
  background: rgb(255, 209, 57);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #333;
  min-height: 100vh;
}

h1 {
    font-size: 4.3em;
    font-weight: 300;
}

h2 {
    color: rgb(175, 0, 0);
    font-size: 1.4em;
    font-weight: 500;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
}

.taskText {
    font-weight: 900;
}

.taskDivider {
    border: none;
    border-top: 1px dotted rgb(175, 0, 0);
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #333;
    border: none;
    color: #fff;
    margin: 4px;
    font-size: 0.8em;
}
  
.btn:hover {
    background-color: rgb(175, 0, 0);
}
  
.icon-bin { 
    font-size: 1.8em;
    color: #000;
    background-color: rgba(255, 255, 255, 0);;
    border: 0;
    padding-right: 5px;
    padding-left: 5px;
}
  
.icon-bin:hover { 
    color: rgb(175, 0, 0);
}
